.mg2{
    width:5em ;
    

}

.mg{
    width:16em ;
}
.image {
   width: 19em;
}
   img {
       width: 100%;
       height: 50%;
       
   }

.form {
   margin-top: 2em;
   display: flex;
   flex-direction: column;
   align-items: center;

 }  .form-group {
       display: flex;
       flex-direction: column;
       align-items: flex-start;
       width: fit-content;}
       label {
           font-size: 30px;
      }
      input {
       margin-top: 8px;
       min-width: 18em;
       height: 37px;
       padding: 5px 10px;
       font-size: 20px;
       font-family: "Open Sans", sans-serif;
       background-color: #767de6;
       border: 0;
       border-radius: 6px;
       margin-bottom: 2px;
       transition: all 250ms ease-in-out;
      }
          input:focus {
              outline: none;
              box-shadow: 6px 8px 12px 0.8px #ddda1f28;
          }
          .footer {
              margin-top: 3em;
          }
          button{
              padding: 20px;
              font-size: 30px;
              cursor: pointer;
              background: rgb(63, 248, 230);
              border: none;
              letter-spacing: 3px;
              border-radius: 10px;
              font-weight: 600;
          }
          button:hover{
              opacity: 80%;
          }
          